<template>
    <image-background :source="launchScreenBg" class="imageContainer">

  <!-- <section class=""> -->
    <div>
      {{count}}
      {{list}}
      <button @click="changeTampl">Primary</button>
      {{tampl}}
      <div v-if="tampl === 'register'" >
      <Register></Register>

      </div>
      <div v-if="tampl === 'login'" >
        <Login></Login>
      </div>
      
    </div>
  <!-- </section> -->
</template>

<script>
import launchScreenBg from "../assets/wallpapers.jpg";

import { mapState, mapMutations } from 'vuex'

// export default {

// computed: mapState({
//     count: state => state.count,
    
//   })
// }
import Login from '~/components/login'
import  axios from 'axios'
import Register from '~/components/register'

export default {
// async fetch ({store}){
// const res = await axios('http://localhost:3030/userlist')
// store.commit('initial', res.data)
// },
computed: {
...mapState({
    count: state => state.count,
    list: state => state.list,
    tampl: state => state.tampl
})
},
methods:{
    ...mapMutations(['changeTampl'])
},
components:{Register, Login}
}

</script>
<style>
body#LoginForm{ background-image:url("https://hdwallsource.com/img/2014/9/blur-26347-27038-hd-wallpapers.jpg"); background-repeat:no-repeat; background-position:center; background-size:cover; padding:10px;}

#login {
    padding-top: 50px
}
#login .form-wrap {
    width: 30%;
    margin: 0 auto;
}
#login h1 {
    color: #1fa67b;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}
#login .form-group {
    margin-bottom: 25px;
}
#login .checkbox {
    margin-bottom: 20px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#login .checkbox.show:before {
    content: '\e013';
    color: #1fa67b;
    font-size: 17px;
    margin: 1px 0 0 3px;
    position: absolute;
    pointer-events: none;
    font-family: 'Glyphicons Halflings';
}
#login .checkbox .character-checkbox {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #ccc;
    vertical-align: middle;
    display: inline-block;
}
#login .checkbox .label {
    color: #6d6d6d;
    font-size: 13px;
    font-weight: normal;
}
#login .btn.btn-custom {
    font-size: 14px;
	margin-bottom: 20px;
}
#login .forget {
    font-size: 13px;
	text-align: center;
	display: block;
}

/*    --------------------------------------------------
	:: Inputs & Buttons
	-------------------------------------------------- */
.form-control {
    color: #212121;
}
.btn-custom {
    color: #fff;
	background-color: #1fa67b;
}
.btn-custom:hover,
.btn-custom:focus {
    color: #fff;
}

/*    --------------------------------------------------
    :: Footer
	-------------------------------------------------- */
#footer {
    color: #6d6d6d;
    font-size: 12px;
    text-align: center;
}
#footer p {
    margin-bottom: 0;
}
#footer a {
    color: inherit;
}
</style>
