<template>
<!-- <div>
  {{list}}
    <lu v-for="line of list">
    <a>name {{line.user}}</a>
    </lu>
</div> -->
<div>{{list}}</div>

</template>
<script>

// export default {
// computed: mapState({
//     count: state => state.count,
//     })
// }
import { mapState } from 'vuex'
import  axios from 'axios'

export default {
async fetch ({store}){
const res = await axios('http://localhost:3030/userlist')
store.commit('initial', res.data)
},
computed: {
    ...mapState({
        list: state => state.list
    })
    }
}
</script>